
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    background-image: linear-gradient(180deg, #deffda 0, #ccffdc 12.5%, #bbffdc 25%, #abffda 37.5%, #9df2d5 50%, #91e2cf 62.5%, #89d4c9 75%, #82c8c3 87.5%, #7ebebe 100%);
    height:120px;
    margin: 20px;
    border-radius: 70px;

}

.login-button{
    background-color: rgb(233, 99, 9);
    font-size:18px ;
    color: rgb(255, 255, 255);
    border-radius: 30px ;
    padding: 8px 20px ;
    text-decoration: none;
    transition: 0.2s background-color;
    font-weight: 600;
   
}
.login-button:hover{
    background-color: rgb(250, 121, 35);
}

.navbar-toggler{
    border: none;
    font-size: 1.2rem;
    color: rgb(3, 3, 3);

}


.navbar-toggler:focus{
    box-shadow: none;
    outline: none;

}

.nav-link{
    color: rgb(10, 9, 9);
    font-size: 23px;
    font-weight: 700;
    position: relative;
    
    
}
.nav-link:hover, .nav-link :active{

    color: #666565;
}

@media (min-width: 50px){

.nav-link::before{
content:"" ;
position: absolute;
bottom: 0;
left: 50%;
transform: translate(-50%);
width: 0%;
height: 2px;
background-color: #ffffff ;
visibility: hidden;
transition: 0.3s ease-in-out;
margin-top: 20px;
}
.nav-link:hover::before{
width: 100%;
visibility: visible;
}



}
